header {
    width: 100%;
    height: 60px;

    background-color: #ffffff;
    border-bottom: 1px solid #dadada;

    display: flex;
    flex-direction: row;

    /* z-index: 10000; */
}

header #logo {
    width: 160px;
    height: 100%;

    background-color: #e4000f;

    /* text-align: center;
    align-content: center; */

    justify-content: space-around;
    align-items: center;
    
    pointer-events: none;
    display: flex;
}

header #logo > object {
    width: 80%;
}

header nav {
    margin-left: 2rem;
    margin-right: 2rem;

    font-weight: 700;
    font-size: 0.875rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
}

header nav ul li {
    margin: 0 0.75rem 0 0.75rem;
}
header nav ul li:hover {
    color: #e4000f;
}

header nav ul #twitter-link {
    font-size: 1.5rem;
}
