/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
    margin: 0;
    width: 100%;
    height: 100%;

    font-family: "Raleway", "museo-sans", -apple-system, BlinkMacSystemFont, sans-serif;
    font-optical-sizing: auto;
    color: #484848;
    overflow-x: hidden;
}

div {
    width: min-content;
    height: min-content;
}

a {
    color: inherit;
    text-decoration: inherit;
}

p a {
    color: #e4000f;
    font-weight: 600;
}
p a:hover {
    color: #af000c;
}

hr {
    width: 97%;
}

section {
    margin: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

p {
    max-width: 80ch;
}

.svg-small {
    width: 100px;
}
.svg-medium {
    width: 300px;
}

#fill-page {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
    pointer-events: none;
}

.mini-monkey {
    position: absolute;
    width: 15px;
    transition: 300ms;
    z-index: 100;
}

.spin {
    margin: 50px;
    position: relative;
    animation-name: appear-spin;
    animation-duration: 400ms;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@keyframes appear-spin {
    from {
        top: 0px;
        left: -500px;
        rotate: -360deg;
        opacity: 0;
    }
    50% {
        top: -500px;
        left: -250px;
        rotate: -180deg;
    }
    to {
        top: 0;
        left: 0;
        rotate: 0;
        opacity: 1;
    }
}
